<a href="https://colab.research.google.com/github/yeonduu/class2022spring/blob/main/20220316.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 코딩 중요 요소

1)	**변수** -> variables / string은 variables 중에서 중요한 것들을 따로 빼놓은 것임

2)	**문법** -> syntax / 조건문 if , 반복문 for

3)	**함수** -> function

4) **패키지**(=라이브러리) -> packages / 특정한 목적을 위해 여러가지 함수 등을 모아둔 것. *패키지를 불러오는 것은 ‘import’

Word는 meaning과 content를 가지고 프로그래밍에서도 마찬가지임

Word = 변수,  Word를 조합하는 방식 = 문법

# 변수(Variables)
변수의 종류

1) Numbers(숫자)

2) String(문자)

3) List -> 문자와 숫자 여럿을 담을 때

4) Tuple -> List와 모든 게 같음 대괄호 [ ] 대신 괄호 ( ) 사용 / tuple은 list와 달리 내부 아이템을 바꿀 수 없다는 차이가 있음

5) Dict

**공통사항**

equal sign '='을 통해 실행

print(a) -> 변수 내용

print(type(a)) -> 변수의 type  


>*int,  float,  str,  list, tuple,  dict

In [ ]:
a = 1; print(a)

1

In [ ]:
a = 1; print(type(a))

<class 'int'>

In [ ]:
b = 1.1; print(type(b))

<class 'float'>

**String 생성하는 법 **
' ' 또는 " " 사용

문자뿐만 아니라 숫자에도 ' '를 붙이면 string

In [ ]:
a = '123'; print(type(a))

<class 'str'>

In [ ]:
a = 'hello'; print(type(a))

<class 'str'>

**List**

문자나 숫자를 여러 개 담을 때 사용하며 대괄호  [ ] 안에 콤마  ' , '를 사용하여 구분 

'list' 안에 'list' 가 들어갈 수 있음

In [ ]:
a = [1, 2, 3, 4]; print(type(a))

<class 'list'>

In [ ]:
a = [1,'a', [3, '4']]; print(type(a))

<class 'list'>

List 인덱싱

대괄호 안의 여러 아이템 중 원하는 부분만 가져오는 것

a[0] -> list a의 0번를 불러오는 것.

> 참고로 제일 왼쪽부터 0번임


> 이때 print를 생략하는 이유는?  마지막 줄은 print를 생략해도 print를 입력한 것과 같기 때문임

> 1번부터 2번까지를 산출할 때는  1:2가 아닌 1:3임 (‘ : ‘의 왼쪽은 포함하고 오른쪽은 포함하지 않기 때문)

In [ ]:
a=[1, 2, 3, 4];a[0]

1

In [ ]:
a=[1, 2, 3, 4, 5, 6]; a[2:5]

[3, 4, 5]

In [16]:
a=[1, 2, 3, 4, 5, 6]; a[2:-1]

[3, 4, 5]

In [ ]:
a = [1,'a', [3, '4']]; print(a[0]); print(a[1]); print(a[2]); print(a[0:2])

1
a
[3, '4']
[1, 'a']

In [17]:
a = [1,'a', [3, '4']]
a[2][0]

3

string 인덱스는 list 인덱스와 동일함

In [20]:
a = 'abcdef12345'
a[2:5]

'cde'

**Dict**

중괄호, 콤마, 콜론 세 아이템으로 조합

key로 value에 access함

' '를 쓰든 " "를 쓰든 상관 없음

여러 개를 쓸 땐 세미콜론';'을 사용

In [21]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

String 추가 설명

In [22]:
s = 'abcdef'
print(s[0], s[5], s[-1], s[-6])
print(s[1:3], s[1:], s[:3], s[:])

a f f a
bc bcdef abc abcdef

In [23]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

stirng은 더하기(+)와 곱하기(*)도 가능함

In [ ]:
s[1]+s[3]+s[4:]*10

# 함수(Function)

입출력, 명령

함수(입력)의 형태로, 괄호가 필요함


built-in function은 내장된 함수고 이 외에 import가 필요한 function도 있음

len(s)는 s의 길이를 계산하라는 명령

In [24]:
s = 'abcdef'
len(s)

6

s.upper()는 s를 대문자로 바꾸라는 명령

In [25]:
s.upper()

'ABCDEF'

s.find()는 입력한 값이 몇 번째부터 나오는지 찾으라는 명령

In [28]:
s = ' this is a house built this year.\n' 	
result = s.find('house') 	
result

11

In [29]:
result = s.find('this')	      # index of first instance of string t inside s (-1 if not found)
result

1

s.strip()는 공백을 제거하라는 명령

In [30]:
s = s.strip()      	
s

'this is a house built this year.'

tokens는 빈칸을 중심으로 '' 안 단어들을 쪼개라는 명령

In [31]:
tokens = s.split(' ')	 
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

join을 사용하면 tokens을 통해 쪼갠 단어들을 원문장으로 되돌릴 수 있음

In [32]:
s = ' '.join(tokens)	 
s

'this is a house built this year.'

replace는 특정 아이템을 다른 아이템으로 교체하라는 명령

In [33]:
s = s.replace('this', 'that')
s

'that is a house built that year.'

**Function 만드는 방법**

def 함수이름 (입력변수1, 입력변수2):

'c=a+b' 와 같은 함수 정의 내용 설정

return 출력변수명 (여러 개 가능)

In [34]:
def add(a,b):
  return a+b

def subtract(a,b):
  return a-b

def multiply(a,b):
  return a*b

def divide(a,b):
  return a/b

In [35]:
c = add(1,2); print(c)
c = subtract(1,2); print(c)
c = multiply(1,2); print(c)
c = divide(1,2); print(c)

3
-1
2
0.5

# Syntax

반복문  for (while)

조건문 if

**반복문 for**

for  i  in  a

=> a에 있는 아이템들을 '처음부터 하나씩 차례로' 받아서 i에 넣고 돌린다는 의미

for를 중첩해서 사용 가능

In [37]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

range(4)는  for i in range(4)의 형태로 자주 쓰이는데,  [0, 1, 2, 3]의 리스트가 만들어진다고 보면 됨

In [40]:
a = [1, 2, 3, 4]
for i in range(4):
    print(a[i])

1
2
3
4

list에 string이 들어가기도 함

In [41]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

range(len(a)) =  range(4)

In [42]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

# 조건문 If

'a=0'에서 ‘=’는 같다는 의미가 아님 (왼쪽을 오른쪽에 assign한다는 의미)

'맞다면, 같다면'는 의미로 쓰려면 ‘==’을 사용

'아니라면, 다르다면'은 '!='을 사용

'그렇지 않다면'은 ' else'를 사용


> If a == 0 -> 만약 a가 0과 같다면,

>  print(a) -> a를 출력하라

In [43]:
a = 0
if a == 0:
    print(a)

0

In [44]:
a = 0
if a == 0:
    print(a)
else:
    print(a+1)

0